p {
    margin: 0;
    color: #826053;
    opacity: 0;
    transition: 0.2s ease-in-out;
    position: relative;
    translate: 0px -20px;
    user-select: none;
}
a {
    color: #826053;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}
a:hover {
    color: #d3a862;
    opacity: 1;
    text-decoration: none;
    ~ p {
        color: #d3a862;
        opacity: 1;
        translate: 0;
    }
}