<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-image: url('https://i.ibb.co/6g0crpd/background.png')">
<nav th:replace="~{templates::header}"></nav>

<div class="container-fluid d-flex flex-row">
    <div class="container col-12 col-md-6" th:object="${dungeon}">
        <h1 style="color: #d3a862" th:text="${dungeon.getName()}"></h1>
        <small style="color: #826053" th:if="${dungeon.getDungeonSize().name()} == 'DUNGEON_10'" th:text="'Level ' + ${dungeon.getLevel()} + ' Dungeon for 10 players'"></small>
        <small style="color: #826053" th:if="${dungeon.getDungeonSize().name()} == 'RAID_20'" th:text="'Level ' + ${dungeon.getLevel()} + ' Raid for 20 players'"></small>
        <small style="color: #826053" th:if="${dungeon.getDungeonSize().name()} == 'RAID_40'" th:text="'Level ' + ${dungeon.getLevel()} + ' Raid for 40 players'"></small>
        <p style="color: #826053" th:text="${dungeon.getDescription()}"></p>
        <br>
        <img class="img-fluid p-0 m-2 border" th:src="'/' + ${dungeon.getImageMap()}" alt="">
    </div>
    <div class="container d-flex flex-column col-12 col-md-5">
        <h3 style="color: #d3a862">Quick Facts:</h3>
        <div class="container d-flex flex-column border">
            <p style="color: #826053" th:text="'Level: ' + ${dungeon.getLevel()}"></p>
            <p style="color: #826053" th:text="'Territory: PLACEHOLDER'"></p>
            <p style="color: #826053" th:text="'Instance Type: ' + ${dungeon.getDungeonType().name}"></p>
            <p style="color: #826053" th:if="${dungeon.getDungeonSize().name()} == 'DUNGEON_10'" th:text="'Number of Players: 10'"></p>
            <p style="color: #826053" th:if="${dungeon.getDungeonSize().name()} == 'RAID_20'" th:text="'Number of Players: 20'"></p>
            <p style="color: #826053" th:if="${dungeon.getDungeonSize().name()} == 'RAID_40'" th:text="'Number of Players: 40'"></p>
            <p style="color: #826053" th:text="'Zone ID: ' + ${dungeon.getId()}"></p>
            <p style="color: #826053" th:text="'Final Boss: PLACEHOLDER'"></p>
        </div>
    </div>
</div>


<footer th:replace="~{templates::footer}"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>